//Cores
$corDeFundo: #040714;
$corFundoFaq: #13151d;

$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corTextoFaq: #fff;

$corBotao: #6421ff;
$corBotaoHover: #824efc;
$corBotaoSecundario: #0063e5;
$corBotaoSecundarioHover: red;
$corBotaoDark: #000;
$corBotaoDarkHover: #f9f9f9;



//Fontes
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}
$fontePrincipal: Avenir, sans-serif;